@model Gestor_Proyectos_Academicos.Models.Rol

@{
    ViewData["Title"] = "Crear Rol";
}

<link rel="stylesheet" href="~/css/RolesCRUD.css" />

<div class="form-card">
    <h2 class="form-title">Crear Nuevo Rol</h2>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="NombreRol"></label>
            <input asp-for="NombreRol" class="form-input" />
            <span asp-validation-for="NombreRol" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-guardar">Guardar</button>
        <a asp-action="Index" class="btn-cancel">Volver</a>
    </form>
</div>
