@model Gestor_Proyectos_Academicos.Models.Rol

@{
    ViewData["Title"] = "Detalles del Rol";
}

<link rel="stylesheet" href="~/css/RolesCRUD.css" />

<div class="details-card">
    <h2 class="form-title">Detalles del Rol</h2>

    <dl>
        <dt>ID</dt>
        <dd>@Model.IdRol</dd>

        <dt>Nombre del Rol</dt>
        <dd>@Model.NombreRol</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.IdRol" class="btn-create">Editar</a>
    <a asp-action="Index" class="btn-cancel">Volver</a>
</div>
