@model Gestor_Proyectos_Academicos.Models.Rol

@{
    ViewData["Title"] = "Editar Rol";
}

<h2>Editar Rol</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IdRol" />

    <div class="form-group">
        <label asp-for="NombreRol" class="control-label"></label>
        <input asp-for="NombreRol" class="form-control" />
        <span asp-validation-for="NombreRol" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
