@model Gestor_Proyectos_Academicos.Models.ProyectosEstudiantes

@{
    ViewData["Title"] = "Nueva Asignación";
}

<link rel="stylesheet" href="~/css/AsignacionesCRUD.css" />

<div class="form-card">

    <h2 class="form-title">Nueva Asignación</h2>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create">

        <div class="form-group">
            <label asp-for="IdProyecto"></label>
            <select asp-for="IdProyecto" asp-items="ViewBag.Proyectos" class="form-input">
                <option value="">-- Seleccione un proyecto --</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="IdEstudiante"></label>
            <select asp-for="IdEstudiante" asp-items="ViewBag.Estudiantes" class="form-input">
                <option value="">-- Seleccione un estudiante --</option>
            </select>
        </div>

        <button type="submit" class="btn-guardar">Guardar</button>
        <a asp-action="Index" class="btn-cancel">Volver</a>

    </form>
</div>
