@model Gestor_Proyectos_Academicos.Models.ProyectosEstudiantes

@{
    ViewData["Title"] = "Detalles de Asignación";
}

<link rel="stylesheet" href="~/css/AsignacionesCRUD.css" />

<div class="details-card">
    <h2 class="form-title">Detalles de Asignación</h2>

    <p><strong>Proyecto:</strong> @Model.Proyecto?.Nombre</p>
    <p><strong>Estudiante:</strong> @Model.Estudiante?.Nombre</p>

    <a asp-action="Edit"
       asp-route-idProyecto="@Model.IdProyecto"
       asp-route-idEstudiante="@Model.IdEstudiante"
       class="btn-create">Editar</a>

    <a asp-action="Index" class="btn-cancel">Volver</a>
</div>
