@model IEnumerable<Gestor_Proyectos_Academicos.Models.ReporteEstudianteView>

@{
    ViewData["Title"] = "Mi Resumen de Tareas";
}

<link rel="stylesheet" href="~/css/Reportes.css" />

<div class="section-header">
    <h2 class="section-titulo">Mi Resumen de Tareas</h2>
</div>

<div class="card-table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Proyecto</th>
                <th>Total Tareas</th>
                <th>Tareas Completadas</th>
                <th>Avance</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Proyecto</td>
                    <td>@e.TotalTareas</td>
                    <td>@e.TareasCompletadas</td>
                    <td>@e.PorcentajeAvance.ToString("0.##") %</td>
                </tr>
            }
        </tbody>
    </table>
</div>
