@model Gestor_Proyectos_Academicos.Models.Tarea
<link rel="stylesheet" href="~/css/TareasCRUD.css" />

<h2 class="section-title">Crear tarea</h2>

<div class="form-card">
    <form asp-action="Create" method="post">

        <div class="form-group">
            <label asp-for="Titulo"></label>
            <input asp-for="Titulo" class="form-input" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" class="form-input"></textarea>
        </div>

        <input type="hidden" asp-for="FechaLimite" />

        <div class="form-group">
            <label asp-for="IdProyecto"></label>
            <select asp-for="IdProyecto" asp-items="ViewBag.Proyectos" class="form-input"></select>
        </div>

        @if (!User.IsInRole("Estudiante"))
        {
            <div class="form-group">
                <label asp-for="IdAsignadoA"></label>
                <select asp-for="IdAsignadoA" asp-items="ViewBag.Estudiantes" class="form-input"></select>
            </div>
        }

        <div class="form-group">
            <label asp-for="Estado"></label>
            <select asp-for="Estado" asp-items="ViewBag.Estados" class="form-input"></select>
        </div>

        <button type="submit" class="btn-guardar">Crear</button>
        <a asp-action="Index" class="btn-cancel">Volver</a>

    </form>
</div>
