@model Gestor_Proyectos_Academicos.Models.Tarea

<link rel="stylesheet" href="~/css/TareasCRUD.css" />

<h2 class="section-title">Eliminar tarea</h2>

<div class="delete-card">

    <p>¿Seguro que deseas eliminar esta tarea?</p>

    <h3 style="margin-top: 5px; font-weight: bold;">
        @Model.Titulo
    </h3>

    <p><strong>Proyecto:</strong> @Model.Proyecto.Nombre</p>

    <form asp-action="DeleteConfirmed" method="post" style="margin-top:20px;">
        <input type="hidden" name="idTarea" value="@Model.IdTarea" />
        <button type="submit" class="btn-delete-big">Eliminar</button>
    </form>

    <a asp-action="Index" class="btn-cancel">Cancelar</a>

</div>
