@model Gestor_Proyectos_Academicos.Models.Tarea
<link rel="stylesheet" href="~/css/TareasCRUD.css" />

<h2 class="section-title">Editar tarea</h2>

<div class="form-card">

    <form asp-action="Edit">

        <input type="hidden" asp-for="IdTarea" />
        <input type="hidden" asp-for="FechaLimite" />

        @if (!User.IsInRole("Estudiante"))
        {
            <div class="form-group">
                <label>Título</label>
                <input asp-for="Titulo" class="form-input" />
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea asp-for="Descripcion" class="form-input"></textarea>
            </div>

            <div class="form-group">
                <label>Proyecto</label>
                <select asp-for="IdProyecto" asp-items="ViewBag.Proyectos" class="form-input"></select>
            </div>

            <div class="form-group">
                <label>Asignado a</label>
                <select asp-for="IdAsignadoA" asp-items="ViewBag.Estudiantes" class="form-input"></select>
            </div>
        }

        @if (User.IsInRole("Estudiante"))
        {
            <input type="hidden" asp-for="IdProyecto" />
            <input type="hidden" asp-for="IdAsignadoA" />

            <div class="form-group">
                <label>Título</label>
                <input asp-for="Titulo" class="form-input" />
            </div>

            <div class="form-group">
                <label>Descripción</label>
                <textarea asp-for="Descripcion" class="form-input"></textarea>
            </div>
        }

        <div class="form-group">
            <label>Estado</label>
            <select asp-for="Estado" asp-items="ViewBag.Estados" class="form-input"></select>
        </div>

        <button type="submit" class="btn-guardar">Guardar cambios</button>
        <a asp-action="Index" class="btn-cancel">Volver</a>

    </form>
</div>
