
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 260px); 
    justify-content: center; 
    align-items: center;
    gap: 50px 120px; 
    margin-top: 40px;
}

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 6px solid #f5f5f5;
    transition: 0.5s ease-out;
    overflow: visible;
    text-align: center;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: palevioletred;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    text-align: center;
    text-decoration: none;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}

/*Hover*/
.card:hover {
    border-color: palevioletred;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

    .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
        color: black;
        text-decoration: none !important;
    }

.mb-4{
    color: white;
}

/* solo para dashboard de estudiante */
.estudiante-dashboard .estudiante-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 170px !important; 
}

.estudiante-dashboard .estudiante-card {
    width: 260px;
    margin-bottom: 20px;
}

/* solo para dashboard de admin */
.admin-dashboard .admin-row {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.admin-dashboard .admin-card {
    width: 260px;
}
