/* --- TITULOS Y ENCABEZADOS --- */
.section-header {
    display: flex;
    justify-content: flex-start;
    margin: 25px 10px;
}

.section-titulo {
    font-size: 32px;
    font-weight: 700;
    color: white;
}


.card-table-container {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 12px;
    margin: 15px;
}


.table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

    .table th {
        padding: 12px;
        border-bottom: 2px solid rgba(255,255,255,0.25);
        font-size: 16px;
    }

    .table td {
        padding: 10px 12px;
        border-bottom: 1px solid rgba(255,255,255,0.15);
    }

    .table tr:hover {
        background: rgba(255,255,255,0.08);
    }
