@model Gestor_Proyectos_Academicos.Models.Proyecto

@{
    ViewData["Title"] = "Eliminar proyecto";
}

<link rel="stylesheet" href="~/css/ProyectosCRUD.css" />

<h2 class="section-title">Eliminar proyecto</h2>

<div class="delete-card">

    <p>¿Está seguro que desea eliminar el proyecto?</p>

    <h3 style="margin-top: 5px; font-weight: bold;">
        "@Model.Nombre"
    </h3>

    <form asp-action="Delete" method="post" style="margin-top: 20px;">
        <input type="hidden" asp-for="IdProyecto" />

        <button type="submit" class="btn-delete-big">Eliminar definitivamente</button>
        <br />
        <a asp-action="Index" class="btn-cancel">Cancelar</a>
    </form>

</div>
